<thead>
  <tr>
    <th>标题</th>
    <% tmp = @args.clone %>
    <% tmp['sort'] = (!tmp['sort'].blank? and tmp['sort'].match(/asc/)) ? 'current_price_desc' : 'current_price_asc'   %>
    <th class="sort" data-column="current_price" onclick="to('<%= url_for tmp %>')">
      现价
      <span class="sign <%= @args[:sort].match(/asc/) ? 'reversed' : 'reversed up'  if @args[:sort] and @args[:sort].match(/current_price_/) %>"></span>
    </th>
    <% tmp = @args.clone %>
    <% tmp['sort'] = (!tmp['sort'].blank? and tmp['sort'].match(/asc/)) ? 'min_price_desc' : 'min_price_asc'   %>
    <th class="sort" data-column="min_price" onclick="to('<%= url_for tmp %>')">
      最低价
      <span class="sign <%= @args[:sort].match(/asc/) ? 'reversed' : 'reversed up'  if @args[:sort] and @args[:sort].match(/min_price_/) %>"></span>
    </th>
    <th>促销活动</th>
    <th>更新时间</th>
    <th></th>
  </tr>
</thead>

