<ul class="inline">
  <li><%= link_to wine_monitor.name.try(:html_safe), wine_monitor,target: '_blank', title: wine_monitor.name.try(:html_safe) %></li>
  <li><%= wine_monitor.norm %></li>
  <li><%= wine_monitor.current_price %></li>
  <li><%= wine_monitor.min_price %></li>
</ul>
