/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 *= require 'bootstrap_and_overrides'
 *= require 'devise'
 *= require 'home'
 *= require 'list'
 *= require 'jquery-ui-timepicker-addon'
 *= require 'ui.totop'
*/

.content {
  /*background-color: #eee;*/
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  /*-webkit-border-radius: 0 0 6px 6px;*/
  /*-moz-border-radius: 0 0 6px 6px;*/
  /*border-radius: 0 0 6px 6px;*/
}

@mixin rounded-corners($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

.section{
  margin: 0 0 40px 0;
}

#footer{
  font: 12px/1.5 Tahoma,Arial,"宋体b8b\4f53",sans-serif;
  color: #999;
  text-align: center;
  margin-top: 20px;

  li{
    list-style: none;
  }
  .footer-container{
    text-align: center;
    border-top: 1px solid #d4d4d4;
    padding-top: 20px;
  }
  .weixin_mp{
    width: 120px;
    height: 120px;
  }

}

.bb{
  border-bottom: 1px dashed;
}
.mb10{
  margin-bottom: 10px;
}

.table-head{
  background-color: #e5e5e5;
  color: gray;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.table-head-line{
  height: 32px;
  line-height: 32px;
  border-right: #ccc 1px solid;
}
