<h1>提交成功</h1>
<p> 您所提交的网站我们暂时还不支持，但是我们会在第一时间进行处理。尽早给您带来最全面，最详尽的酒价信息。 </p>
<p> 
  <%= link_to '继续提交', new_wine_link_path, class: 'btn btn-primary' %>  
  <%= link_to '回到主页', root_path, class: 'btn btn-primary' %>  
</p>
